body{
    margin: 5vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
label, input{
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}
div{
    border: 2px solid black;
    font-size: 40px;
    margin: 20px;
    background-color: orange;
    cursor: pointer;
    transition: .3s linear;
}
div:hover{
    background-color: rgb(12, 12, 236);
    color: white;
}
.active{
    background-color: black;
    color: yellow;
}
input{
    border: 3px solid black;
    border-radius: 5px;
}
label{
    transition: .3s linear;
    
}
label:hover{
    color: yellow;
    background-color: black;
    letter-spacing: 2px;
    border-radius: 5px;
}